.notFoundPage {
  flex: 1;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .sectionView {
    width: 400px;
    padding-top: 80px;
    padding-left: 60px;
  }

  .titleView {
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    margin-bottom: 24px;
  }

  .messageView {
    color: rgba(0, 0, 0, 0.45);
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }

  .buttonView {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
