$primaryColor: '#1890ff';
$errorColor: '#ea3d3d';
$fontColor: '#383838';
$creditBorderColor: '#efefef';
$creditDescColor: '#929292';

$fontFamily: ''PingFang SC', 'Hiragino Sans GB', 'Monospaced Number','Helvetica Neue', Helvetica, Arial, sans-serif';
