html,
body,
#root,
.ant-layout {
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

a:focus {
  text-decoration: none;
}

.ant-modal-close-x {
  transition: transform 1s;
}

.ant-modal-close-x:hover {
  transform: rotate(360deg);
}

.ant-layout-content {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
